<app-card
  (dblclick)="emitTaskDblClicked()"
  [backgroundColor]="task.completed ? '#c8fad7' : 'white'"
>
  <div card-body>
    <div class="d-flex align-center justify-content-between">
      <div class="card-text">
        <p class="task-description">
          {{ task.description }}
        </p>

        <small class="task-datetime">
          {{ task.datetime | date: "medium" }}
        </small>
      </div>

      <div class="d-flex flex-column justify-content-center">
        <app-button
          (click)="emitRemoveTaskButtonClicked()"
          format="outline"
          [rounded]="true"
          size="sm"
        >
          <fa-icon [icon]="faTrash" [styles]="{ color: 'red' }"></fa-icon>
        </app-button>
      </div>
    </div>
  </div>
</app-card>
