<div [formGroup]="newTaskForm">
  <div class="form-group mb-3">
    <input
      type="text"
      class="form-control"
      id="task-description"
      formControlName="description"
      placeholder="Task Description"
    />

    <app-validation-error-msg
      *ngIf="
        (
          newTaskForm.get('description')?.touched ||
          newTaskForm.get('description')?.dirty
        ) &&
        newTaskForm.get('description')?.errors?.['required']
      "
      message="The field is required."
    >
    </app-validation-error-msg>

    <app-validation-error-msg
      *ngIf="
        (
          newTaskForm.get('description')?.touched ||
          newTaskForm.get('description')?.dirty
        ) &&
        newTaskForm.get('description')?.errors?.['maxlength']
      "
      [message]="getMaxLengthErrorMessage('description')"
    >
    </app-validation-error-msg>
  </div>

  <div class="form-group mb-3">
    <input
      type="datetime-local"
      class="form-control"
      id="task-datetime"
      formControlName="datetime"
      placeholder="Date and Time"
    />
    <app-validation-error-msg
      *ngIf="
        (
          newTaskForm.get('datetime')?.touched ||
          newTaskForm.get('datetime')?.dirty
        ) &&
        newTaskForm.get('datetime')?.errors?.['required']
      "
      message="The field is required."
    >
    </app-validation-error-msg>

    <app-validation-error-msg
      *ngIf="
        (
          newTaskForm.get('datetime')?.touched ||
          newTaskForm.get('datetime')?.dirty
        ) &&
        newTaskForm.get('datetime')?.errors?.['date']
      "
      message="The field must be a valid date."
    >
    </app-validation-error-msg>

    <app-validation-error-msg
      *ngIf="
        (
          newTaskForm.get('datetime')?.touched ||
          newTaskForm.get('datetime')?.dirty
        ) &&
        newTaskForm.get('datetime')?.errors?.['minDate']
      "
      message="The field should be greater than the current date and time."
    >
    </app-validation-error-msg>
  </div>

  <div class="form-group mb-3">
    <app-checkbox
      checkboxId="completed"
      label="Completed"
      formControlName="completed"
    ></app-checkbox>
  </div>
</div>
