<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="/">
      <fa-icon [icon]="faCalendarCheck"></fa-icon>
      TaskTracker
    </a>
    <app-button
      (click)="toggleFormExibition()"
      [hidden]="!showShowFormButton()"
      format="success"
    >
      Show Form
    </app-button>

    <app-button
      (click)="toggleFormExibition()"
      [hidden]="!showHideFormButton()"
      format="danger"
    >
      Hide Form
    </app-button>
  </div>
</nav>
